<html>
<head><head>
<title></title>
<body>

<a href='${root}'>首页</a>
<p>邮件已经成功发送到$!email，你需要点击邮件中的确认链接来完成注册。<br/>
登录163邮箱查收确认信

没有收到确认信怎么办？······

检查一下上面Email地址是否正确，错了就重新注册一次吧:)
看看是否在邮箱的垃圾箱里
稍等几分钟，若仍旧没收到确认信，让36tw重发一封
</p>
</body>
</html>