<html>
<head>
<title>后端管理中心</title>
</head>

<body>
后端管理中心-works->add<br/>
<a href='$root/mc'>管理中心</a><br/>
<a href='$root/mc/works/review'>作品信息审核</a><br/>
<a href='$root/mc/works/add'>添加新作品</a><br/>

</body>
</html>